<!-- nav bar -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">자소서 평가</span>
    <span class="navbar-brand mb-0 h1"><%= current_user.name %> 님 </span>
      
      <!-- 이동버튼   -->
    <button class="btn btn-primary" type="button">이전</button>
    <button class="btn btn-primary" type="button">다음</button>
      
    <div>
        <input class="form-control" type="number" id="targetPg">
        <button class="btn btn-primary" type="submit">이동</button>
    </div>
    
  </div>
  
    
</nav>